body {
    background: url('https://wallpapercave.com/wp/wp8743778.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }